<section>
    <div class="container">
       
        <section class="page-title center" ng-if="userType!='Super Admin'">
            <h1>Your Profile</h1>
        </section>
        <section class="page-title center" ng-if="userType=='Super Admin'">
            <h1>Add User</h1>
        </section>
        <!--end page-title-->
        <section>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
                    <form class="form inputs-underline" novalidate name="userForm" id="userForm">
                        <section>
                            <h3 ng-if="userType!='Super Admin'">About You</h3>
                            <div class="form-group" ng-if="userType == 'Super Admin'">
                                <label for="message">User Type</label>
                                <select class="form-control" name="userType" id="userType" ng-model="adduserType" name="" ng-change="onUserTypeChange(adduserType)">
                                    <option value="">Select User Type</option>
                                    <option value="Admin">Agent</option>
                                    <option value="Renter">Renter</option>
                                    <option value="Owner">Owner</option>
                                </select>
                                <span ng-show="errorUserType" style="color: red">*Select User Type</span>
                            </div>
                            <!--end form-group-->
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="user_title">User Title</label>
                                        <input type="text" class="form-control" ng-model="usertitle" name="usertitle" id="usertitle" placeholder="User Title" ng-keyup="onUserTitleChange(usertitle)">
                                        <span ng-show="errorUsertitle" style="color: red">*Enter User Title</span>                                        
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="first_name">Name</label>
                                        <input type="text" class="form-control" ng-model="username" name="username" id="username" placeholder="Name" ng-keyup="onUserNameChange(username)">
                                        <span ng-show="errorUserName" style="color: red">*Enter User Name</span>                                        
                                    </div>
                                    <!--end form-group-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" name="userMail" id="userMail" ng-model="userMail" placeholder="Mail" ng-change="onUserMailChange(userMail)" required>
                                        <span ng-show="errorUserMail" style="color: red">*Enter a valid e-mail</span>                                        
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input type="text" class="form-control" name="userPhone" id="userPhone" ng-model="userPhone" placeholder="Phone" ng-keyup="onUserPhoneChange(userPhone)">
                                        <span ng-show="errorUserPhone" style="color: red">*Enter User Phone Number</span>
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->
                            </div>
                            <!--end row-->
                            <!-- <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="Password">Password</label>
                                        <input type="password" class="form-control" name="password" id="password" ng-model="password" placeholder="Password" ng-change="onPasswordChange(password)">
                                        <span ng-show="errorPassword" style="color: red">*Enter Password</span>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="Password">Confirm Password</label>
                                        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" ng-model="confirmPassword" placeholder="Confirm Password" ng-change="onConfirmPasswordChange(confirmPassword)">
                                        <span ng-show="errorConfirmPassword" style="color: red">*Enter Password</span>
                                        <span ng-show="errorPasswordNotMatch" style="color: red">*Passwords not match</span>
                                    </div>
                                </div>
                            </div> -->
                        </section>
                        <section class="center">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-rounded" ng-click="AddUser()">Save</button>
                            </div>
                            <!--end form-group-->
                        </section>
                    </form>
                    <!--end form-->
                    <hr>
                </div>
                <!--end col-md-6-->
            </div>
            <!--end row-->
        </section>
        <section ng-if="reqType=='editUser'">
            <section>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                        <h3 class="center">Change Your Password</h3>
                        <form class="form inputs-underline">
                            <div class="form-group">
                                <label for="current_password">Current Password</label>
                                <input type="password" class="form-control" name="current_password" id="current_password" value="******">
                            </div>
                            <!--end form-group-->
                            <div class="form-group">
                                <label for="new_password">New Password</label>
                                <input type="password" class="form-control" name="new_password" id="new_password" placeholder="New Password">
                            </div>
                            <!--end form-group-->
                            <div class="form-group">
                                <label for="confirm_new_password">Confirm New Password</label>
                                <input type="password" class="form-control" name="confirm_new_password" id="confirm_new_password" placeholder="Confirm New Password">
                            </div>
                            <!--end form-group-->
                            <div class="form-group center">
                                <button type="submit" class="btn btn-primary btn-framed btn-rounded btn-light-frame">Change Password</button>
                            </div>
                            <!--end form-group-->
                        </form>
                    </div>
                </div>
            </section>
        </section>
    </div>
</section>