<style>
    .borderless td, .borderless th {
        border: none !important;
    }
    .errMsg {
        color: red;
        font-family: inherit;
    }
    #noOfViews {
        color: green;
        font-size: 14px;
        font-weight: bold;
    }
</style>

<div class="container" onload="assets/common/locationUI/js/custom.js">
    <section class="page-title pull-left">
        <h1>{{ propDetails.propertyTitle }}</h1>
        <h3>{{ propDetails.propertyAddress }}</h3>
        <div class="rating-passive" data-rating="4">
            <span class="stars"></span>
            <span class="reviews" id="noOfViews" ng-if="propDetails.noOfViews > 1 || propDetails.noOfViews == 0">{{ propDetails.noOfViews }} Views</span>
            <span id="noOfViews" ng-if="propDetails.noOfViews == 1">{{ propDetails.noOfViews }} View</span>
            
        </div>
    </section>
</div>

<section>
    <div class="gallery detail">
        <div class="owl-carousel" data-owl-items="3" data-owl-loop="1" data-owl-auto-width="1" data-owl-nav="1" data-owl-dots="0" data-owl-margin="2" data-owl-nav-container="#gallery-nav">
            <div class="image" ng-repeat="img in propImages" ng-if="!noPropImages">
                <div class="bg-transfer"><img src="{{img}}" alt="" height="512" width="512"></div>
            </div><!--assets/common/locationUI/img/items/no_photo.jpg-->
            <div class="image" ng-if="noPropImages">
                <div class="bg-transfer"><img src="assets/common/locationUI/img/items/no_photo.jpg" alt=""></div>
            </div>
            <div class="image" ng-if="noPropImages">
                <div class="bg-transfer"><img src="assets/common/locationUI/img/items/no_photo.jpg" alt=""></div>
            </div>
            
        </div>
        <!--end owl-carousel-->
    </div>
    <!--end gallery-->
</section>

<div class="container">
    <div class="row">
        <div class="col-md-7 col-sm-7">
            <div id="gallery-nav"></div>
            <section>
                <h2>About this Property</h2>
                <p>{{ propDetails.propertyDesc }}</p>
            </section>
            <section>
                <h2>Features</h2>
                <p>{{ propDetails.propertyFeatures }}</p><br>
                <ul class="tags">
                    <li ng-if="propDetails.isFrontGarden==1">Front Garden</li>
                    <li ng-if="propDetails.isRearGarden==1">Rear Garden</li>
                    <li ng-if="propDetails.isExtractorFanBathroom==1">Bathroom Extractor Fan</li>
                    <li ng-if="propDetails.isSeperateWC==1">Seperate Water Closet</li>
                    <li ng-if="propDetails.isEnsuite==1">Ensuite</li>
                    <li ng-if="propDetails.utilityRoom==1">Utility Room</li>
                    <li ng-if="propDetails.heatingGas==1">Heating Gas</li>
                    <li ng-if="propDetails.heatingElectricty==1">Heating Electricity</li>
                    <li ng-if="propDetails.smokeAlarm==1">Smoke Alarm</li>
                    <li ng-if="propDetails.monoxideAlarm==1">Monoxide Alarm</li>
                    <li ng-if="propDetails.chimney==1">Chimney</li>
                    <li ng-if="propDetails.saniflo==1">Saniflo</li>
                    <li ng-if="propDetails.doubleGlazing==1">Double Glazing</li>
                    <li ng-if="propDetails.isKitchenWashingMachin==1">Kitchen Washing Machine</li>
                    <li ng-if="propDetails.isKitchenTumbleDryer==1">Kitchen Tumble Dryer</li>
                    <li ng-if="propDetails.isKitchenOven==1">Kitchen Oven</li>
                    <li ng-if="propDetails.isKitchenHob==1">Kitchen Hob</li>
                    <li ng-if="propDetails.isExtractorFan==1">Extractor Fan</li>                            
                </ul>
            </section>
            <section>
                <h2>Available Hours</h2>
                <!--<dl>
                    <dt>Monday</dt>
                    <dd>08:00am - 11:00pm</dd>
                    <dt>Tuesday</dt>
                    <dd>08:00am - 11:00pm</dd>
                    <dt>Wednesday</dt>
                    <dd>12:00am - 11:00pm</dd>
                    <dt>Thursday</dt>
                    <dd>08:00am - 11:00pm</dd>
                    <dt>Friday</dt>
                    <dd>03:00pm - 02:00am</dd>
                    <dt>Saturday</dt>
                    <dd>03:00pm - 02:00am</dd>
                    <dt>Sunday</dt>
                    <dd>Closed</dd>
                </dl>-->
                <div class="table-responsive">
                    <table class="table borderless">
                        <thead>
                            <tr>
                                <th>Days</th>
                                <th>Morning</th>
                                <th>Evening</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="isMonday == '1'">
                                <td>Monday</td>
                                <td ng-if="mondayAMFrom != '' || mondayAMTill != ''">{{mondayAMFrom}} - {{mondayAMTill}}</td>
                                <td ng-if="mondayAMFrom == '' && mondayAMTill == ''">-</td>

                                <td ng-if="mondayPMFrom != '' || mondayPMTill != ''">{{mondayPMFrom}} - {{mondayPMTill}}</td>
                                <td ng-if="mondayPMFrom == '' && mondayPMTill == ''">-</td>
                            </tr>
                            <tr ng-if="isTuesday == '1'">
                                <td>Tuesday</td>
                                <td ng-if="tuesdayAMFrom != '' || tuesdayAMTill != ''">{{tuesdayAMFrom}} - {{tuesdayAMTill}}</td>
                                <td ng-if="tuesdayAMFrom == '' && tuesdayAMTill == ''">-</td>

                                <td ng-if="tuesdayPMFrom != '' || tuesdayPMTill != ''">{{tuesdayPMFrom}} - {{tuesdayPMTill}}</td>
                                <td ng-if="tuesdayPMFrom == '' && tuesdayPMTill == ''">-</td>
                            </tr>
                            <tr ng-if="isWednesday == '1'">
                                <td>Wednesday</td>
                                <td ng-if="wednesdayAMFrom != '' || wednesdayAMTill != ''">{{wednesdayAMFrom}} - {{wednesdayAMTill}}</td>
                                <td ng-if="wednesdayAMFrom == '' && wednesdayAMTill == ''">-</td>

                                <td ng-if="wednesdayPMFrom != '' || wednesdayPMTill != ''">{{wednesdayPMFrom}} - {{wednesdayPMTill}}</td>
                                <td ng-if="wednesdayPMFrom == '' && wednesdayPMTill == ''">-</td>
                            </tr>
                            <tr ng-if="isThursday == '1'">
                                <td>Thursday</td>
                                <td ng-if="thursdayAMFrom != '' || thursdayAMTill != ''">{{thursdayAMFrom}} - {{thursdayAMTill}}</td>
                                <td ng-if="thursdayAMFrom == '' && thursdayAMTill == ''">-</td>

                                <td ng-if="thursdayPMFrom != '' || thursdayPMTill != ''">{{thursdayPMFrom}} - {{thursdayPMTill}}</td>
                                <td ng-if="thursdayPMFrom == '' && thursdayPMTill == ''">-</td>
                            </tr>
                            <tr ng-if="isFriday == '1'">
                                <td>Friday</td>
                                <td ng-if="fridayAMFrom != '' || fridayAMTill != ''">{{fridayAMFrom}} - {{fridayAMTill}}</td>
                                <td ng-if="fridayAMFrom == '' && fridayAMTill == ''">-</td>

                                <td ng-if="fridayPMFrom != '' || fridayPMTill != ''">{{fridayPMFrom}} - {{fridayPMTill}}</td>
                                <td ng-if="fridayPMFrom == '' && fridayPMTill == ''">-</td>
                            </tr>
                            <tr ng-if="isSaturday == '1'">
                                <td>Saturday</td>
                                <td ng-if="saturdayAMFrom != '' || saturdayAMTill != ''">{{saturdayAMFrom}} - {{saturdayAMTill}}</td>
                                <td ng-if="saturdayAMFrom == '' && saturdayAMTill == ''">-</td>

                                <td ng-if="saturdayPMFrom != '' || saturdayPMTill != ''">{{saturdayPMFrom}} - {{saturdayPMTill}}</td>
                                <td ng-if="saturdayPMFrom == '' && saturdayPMTill == ''">-</td>
                            </tr>
                            <tr ng-if="isSunday == '1'">
                                <td>Sunday</td>
                                <td ng-if="sundayAMFrom != '' || sundayAMTill != ''">{{sundayAMFrom}} - {{sundayAMTill}}</td>
                                <td ng-if="sundayAMFrom == '' && sundayAMTill == ''">-</td>

                                <td ng-if="sundayPMFrom != '' || sundayPMTill != ''">{{sundayPMFrom}} - {{sundayPMTill}}</td>
                                <td ng-if="sundayPMFrom == '' && sundayPMTill == ''">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <!--<section>
                <h2>Reviews</h2>
                <div class="review">
                    <div class="image">
                        <div class="bg-transfer"><img src="assets/common/locationUI/img/person-02.jpg" alt=""></div>
                    </div>
                    <div class="description">
                        <figure>
                            <div class="rating-passive" data-rating="4">
                                <span class="stars"></span>
                                <span class="reviews">6</span>
                            </div>
                            <span class="date">09.05.2016</span>
                        </figure>
                        <p>Donec nec tristique sapien. Aliquam ante felis, sagittis sodales diam sollicitudin, dapibus semper turpis</p>
                    </div>
                </div>
            </section>-->
            <section id="write-a-review" ng-show="showReviewsBlock">
                <h2>Write a Note about your experience</h2>
                <form class="clearfix form inputs-underline" novalidate>
                    <div class="box">
                        <div class="comment">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="comment-title">
                                        <h4>Review your experience</h4>
                                    </div>
                                    <!--end title-->
                                    <div class="form-group">
                                        <label for="name">Title of your review<em>*</em></label>
                                        <input type="text" class="form-control" id="reviewTitle" name="reviewTitle" ng-model="reviewTitle" ng-change="onReviewTitleChange(reviewTitle)" placeholder="Title" required="">
                                        <span class="errMsg" ng-show="errReviewTitle">Review Title is Required</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="message">Your Message<em>*</em></label>
                                        <textarea class="form-control" id="reviewMessege" rows="8" name="reviewMessege" ng-model="reviewMessege" ng-change="onReviewMessageChange(reviewMessege)" required="" placeholder="Describe your experience"></textarea>
                                        <span class="errMsg" ng-show="errReviewMessege">Review Message is Required</span>
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-8-->
                                <div class="col-md-4">
                                    <div class="comment-title">
                                        <h4>Rating</h4>
                                    </div>
                                    <!--end title-->
                                    <dl class="visitor-rating">
                                        <dt>Location</dt>
                                        <dd class="star-rating active" data-name="location" id="location"></dd>
                                        <dt>Facilities</dt>
                                        <dd class="star-rating active" data-name="facilities" id="facilities"></dd>
                                        <dt>Internal condition</dt>
                                        <dd class="star-rating active" data-name="internalCondition" id="internalCondition"></dd>
                                        <dt>External condition</dt>
                                        <dd class="star-rating active" data-name="externalCondition" id="externalCondition"></dd>
                                    </dl>
                                </div>
                                <!--end col-md-4-->
                            </div>
                            <!--end row-->
                            <br>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-rounded" ng-click="submitReview()">Submit Review</button>
                            </div>
                            <!--end form-group-->
                        </div>
                        <!--end comment-->
                    </div>
                    <!--end review-->
                </form>
                <!--end form-->
            </section>
        </div>
        <!--end col-md-7-->
        <div class="col-md-5 col-sm-5">
            <div class="detail-sidebar">
                <section class="shadow">
                    <div class="map height-250px" id="map-detail"></div>
                    <!--end map-->
                    <div class="content">
                        <div class="vertical-aligned-elements">
                            <h3>{{ propDetails.propertyType }}</h3>
                            <!--<div class="element text-align-right"><a href="#" class="btn btn-primary btn-rounded btn-xs">Claim</a></div>-->
                        </div>
                        <hr>
                        <address>
                            <figure><i class="fa fa-map-marker"></i>{{ propDetails.propertyAddress }}<br>{{ propDetails.propertyCity }},{{ propDetails.propertyCounty }}, {{ propDetails.propertyPostCode }} </figure>
                            <figure><i class="fa fa-envelope"></i><a href="#">{{ propDetails.userEmail }}</a></figure>
                            <figure><i class="fa fa-phone"></i>{{ propDetails.userPhone }}</figure>
                            <!--<figure><i class="fa fa-globe"></i><a href="#">www.markysrestaurant.com</a></figure>-->
                        </address>
                    </div>
                </section>
                <button type="button" ng-if="showContactBtn" ng-click="contactOwnerfunction()" class="btn btn-success">Contact Owner</button>
                <div class="row box" ng-show="showAppointmentDetails">
                    <div class="col-sm-12 col-md-12" ng-if="appointment.appointmentStatus == 'Accept'" style="color:#5CC7AF">
                        Your appointment request on {{ appointment.appointmentDate }} ({{ appointment.appointmentTime }}) is Accepted.
                    </div>
                    <div class="col-sm-12 col-md-12" ng-if="appointment.appointmentStatus == 'Reject'" style="color: red">
                        Your appointment request on {{ appointment.appointmentDate }} ({{ appointment.appointmentTime }}) is Rejected.
                    </div>
                </div>
            </div>
            <!--end detail-sidebar-->
        </div>
        <!--end col-md-5-->
    </div>
    <!--end row-->
</div>

<div id="contactOwnerModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog width-400px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="section-title">
                    <h2>Contact Owner</h2>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12" style="padding: 10px">
                        <div class="form-group">
                            <input type="text" class="form-control datepicker" id="contactDate" name="contactDate" placeholder="Select Date" value="">

                            <span style="color: red" ng-show="errorContactDate">* Please Select Date</span>
                        </div>
                        <div class="form-group" id="timeSelectBox" style="display: none">
                            
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align: center; padding: 10px">
                    <button type="button" class="btn btn-success" ng-click="submitContactOwner()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.datepicker').datetimepicker({
        format: 'DD-MM-YYYY',
        minDate: new Date()
    });
</script>
