//= _header.html

<!--End of Tawk.to Script-->
<!--<body class="theme-orange   colorful-enabled" ng-controller="MainCtrl">-->

<!--//= _left-menu.html-->
<body class="homepage" id="bodyTag">
    <div class="page-wrapper">
        //= _top-menu.html

        <section class="page-content" ng-view></section>

        //= _footer.html
    </div><!--end page-wrapper-->
    <a href="#" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>
</body>

