<style>
.ui-slider .noUi-base .noUi-connect {
    background-color: #2abb9b !important;
}
.sidebar .ui-slider .noUi-base .noUi-handle {
    background-color: #2abb9b !important;
}
#updateVisitedText {
    text-decoration: underline;
    cursor: pointer;
    color: #000000;
}
#updateVisitedText:hover {
    color: orange;
}
.alignTextCenter {
    text-align: center;
}
.appointmentText {
    color: orange;
    font-size: 18px;
    cursor: pointer;
}
.appointmentText:hover {
    color: black;
    font-size: 18px;
    cursor: pointer;
}
</style>
<div class="container">
            <ol class="breadcrumb">
                <li class="active" id="BrowseProp" ng-click="onBrowseClick()"><a href="#!/DashboardRenter">Browse</a></li>
                <li id="FavProps" ng-click="onFavClick()"><a href="javascript:(0)">Favourites</a></li>
            </ol>
            <div class="row" ng-hide="showFavourites">
                <div class="col-md-9 col-sm-9">
                    <section>
                        <div class="form input-group inputs-underline">
                            <input type="text" class="form-control" id="searchText" name="searchText" ng-model="searchText" placeholder="Search Location / Phone / Name">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" ng-click="textSearchFunction(searchText)" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </section>

                    <section class="page-title" ng-hide="noProperty">
                        <h1>Browse Properties</h1>
                    </section>

                    <section ng-hide="noProperty">
                        <div class="item item-row" ng-repeat="prop in resultAllProperties">
                            <a href="javascript:(0)">
                                <div class="image bg-transfer" ng-click="goToDetailsPage(prop.propertyID)">
                                    <figure>£ {{prop.propertyPrice}}</figure>
                                    <img src="{{prop.propertyImages[0]}}" alt="">
                                </div>
                                <div class="description">
                                    <div class="col-sm-6 col-md-6"  ng-click="goToDetailsPage(prop.propertyID)">
                                        <h3>{{prop.propertyTitle}}</h3>
                                        <div class="label label-default">{{prop.propertyType}}</div>
                                        <h4>{{prop.propertyAddress}}</h4>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <h3>Owner Details</h3>
                                        <h4>{{prop.userName}}</h4>
                                        <h4>{{prop.userEmail}}</h4>
                                        <h4>{{prop.userPhone}}</h4>
                                        <span class="appointmentText" ng-click="openAppointmentDetails(prop)" ng-if="prop.appointmentUser != undefined && prop.appointmentUser.length != 0">Appointment Exist</span>
                                    </div>
                                </div>
                            </a>
                            <div class="controls-more">
                                <ul>
                                    <li><a href="javascript:(0)" ng-click="saveProperty(prop.propertyID)">Add to Favorites</a></li>
                                </ul>
                            </div>
                            <!--end controls-more-->
                        </div>
                    </section>
                    <section class="alignTextCenter" ng-show="noProperty">   
                        <h1>No Properties Found..!</h1>
                    </section>
                </div>
                <!--end col-md-9-->

                <div class="col-md-3 col-sm-3">
                    <aside class="sidebar">
                        <section>
                            <h2>Search Filter</h2>
                            <form class="form inputs-underline">
                                <div class="form-group">
                                    <select class="form-control" name="city" id="propertyCity" ng-model="propertyCity">
                                        <option value="">City</option>
                                        <option value="London">London</option>
                                        <option value="Leeds">Leeds</option>
                                        <option value="Cambridge">Cambridge</option>
                                        <option value="Manchester">Manchester</option>
                                        <option value="Bristol">Bristol</option>
                                        <option value="LiverPool">LiverPool</option>
                                        <option value="NewCastle">NewCastle</option>
                                        <option value="NottingHam">NottingHam</option>
                                        <option value="Glasgow">Glasgow</option>
                                        <option value="Sheffield">Sheffield</option>
                                        <option value="Edinburgh">Edinburgh</option>
                                        <option value="York">York</option>
                                        <option value="Cardiff">Cardiff</option>
                                        <option value="Oxford">Oxford</option>
                                        <option value="Kingston">Kingston</option>
                                        <option value="Southampton">Southampton</option>
                                        <option value="Belfost">Belfost</option>
                                        <option value="Brighton">Brighton</option>
                                        <option value="Portsmouth">Portsmouth</option>
                                        <option value="Plymouth">Plymouth</option>
                                        <option value="Derby">Derby</option>
                                        <option value="Newport">Newport</option>
                                    </select>
                                </div>
                                <!--end form-group-->
                                <div class="form-group">
                                    <select class="form-control" name="propertyType" id="propertyType" ng-model="propertyType">
                                        <option value="">Select Property Type</option>                                                
                                        <option value="House">House</option>
                                        <option value="Bungalow">Bungalow</option>
                                        <option value="Flats">Flats</option>
                                        <option value="Apartment">Apartment</option>
                                        <option value="Masionette">Masionette</option>
                                        <option value="NewHomes">New Homes</option>
                                        <option value="RetirementHomes">Retirement Homes</option>
                                        <option value="ParkHome">ParkHome</option>
                                        <option value="MobileHome">Mobile Home</option>
                                    </select>
                                </div>
                                <!--end form-group-->
                                <div class="form-group">
                                    <div class="ui-slider" id="price-slider" data-value-min="1000" data-value-max="100000" data-value-type="price" data-currency="£" data-currency-placement="before">
                                        <div class="values clearfix">
                                            <input class="value-min" id="priceMinValue" name="value-min[]" readonly>
                                            <input class="value-max" id="priceMaxValue" name="value-max[]" readonly>
                                        </div>
                                        <div class="element"></div>
                                    </div>
                                    <!--end price-slider-->
                                </div>
                                <!--end form-group-->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary pull-right" ng-click="searchProperties()">Search Now<i class="fa fa-search"></i></button>
                                </div>
                                <!--end form-group-->
                            </form>
                        </section>
                    </aside>
                    <!--end sidebar-->
                </div>
                <!--end col-md-4-->
            </div>
            <!--end row-->
            <div class="row" ng-show="showFavourites">
                <div class="col-md-9 col-sm-9">
                    <section class="page-title" ng-hide="noProperty">
                        <h1>Favourite Properties</h1>
                    </section>
                    <section ng-hide="noProperty">
                        <div class="item item-row" ng-repeat="prop in favouriteProps">
                            <a href="javascript:(0)">
                                <div class="image bg-transfer" ng-click="goToDetailsPage(prop.propertyID)">
                                    <figure>£ {{prop.propertyPrice}}</figure>
                                    <img src="{{prop.propertyImages[0]}}" alt="">
                                </div>
                                <div class="description">
                                    <div class="col-sm-6 col-md-6"  ng-click="goToDetailsPage(prop.propertyID)">
                                        <h3>{{prop.propertyTitle}}</h3>
                                        <div class="label label-default">{{prop.propertyType}}</div>
                                        <h4>{{prop.propertyAddress}}</h4>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <h3>Owner Details</h3>
                                        <h4>{{prop.userName}}</h4>
                                        <h4>{{prop.userEmail}}</h4>
                                        <h4>{{prop.userPhone}}</h4>
                                        <span style="color: #2abb9b" ng-click="openAppointmentDetails(prop)" ng-if="prop.appointmentUser != undefined && prop.appointmentUser.length != 0">Appointment Exist</span>
                                    </div>
                                </div>
                            </a>
                            <!--end controls-more-->
                        </div>
                    </section>
                    <section class="alignTextCenter" ng-show="noProperty">   
                        <h1>No Properties Found..!</h1>
                    </section>
                </div>
                <!--end col-md-9-->

                <div class="col-md-3 col-sm-3">
                    
                </div>
                <!--end col-md-4-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->

        <div id="modal-appointments" class="modal fade" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div class="section-title">
                                <h2>Appointment Status</h2>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="row box" style="margin: 15px !important">
                                <div class="col-md-8 col-sm-6">
                                    <div class="col-md-4 col-sm-4">
                                        <div style="text-align: center; color: orange" ng-if="appointment.appointmentStatus == '' || appointment.appointmentStatus == null">
                                            Requested
                                        </div>
                                        <div style="text-align: center; color: #2abb9b" ng-if="appointment.appointmentStatus == 'Accept'">
                                            Accepted

                                            <a id="updateVisitedText" ng-click="updateVisited(appointment)">Update if visited</a>
                                        </div>
                                        <div style="text-align: center; color: red" ng-if="appointment.appointmentStatus == 'Reject'">
                                            Rejected
                                        </div>
                                        <div style="text-align: center; color:blue" ng-if="appointment.appointmentStatus == 'Visited'">
                                            Visted
                                        </div>
                                        <div style="text-align: center; color: green" ng-if="appointment.appointmentStatus == 'Rated'">
                                            Reviewed
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-8 alignTextCenter">
                                        {{ propAppointments.appointmentDate }}<br>
                                        ({{ propAppointments.appointmentTime }})
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6" style="text-align: center; color: orange" ng-if="appointment.appointmentStatus == '' || appointment.appointmentStatus == null">
                                    <input type="button" class="btn btn-info" ng-click="openScheduleModel(appointment)" value="Re-Schedule">
                                </div>
                                <div class="col-md-4 col-sm-6" ng-if="appointment.appointmentStatus == 'Accept'" style="text-align: center">
                                    <input type="button" class="btn btn-info" ng-click="openScheduleModel(appointment)" value="Re-Schedule">
                                </div>
                                <div class="col-md-4 col-sm-6" style="text-align: center; color: red" ng-if="appointment.appointmentStatus == 'Reject'">
                                    <!--<input type="button" class="btn btn-info" value="Re-Schedule">-->
                                </div>
                                <div class="col-md-4 col-sm-6" style="text-align: center; color: orange" ng-if="appointment.appointmentStatus == 'Visited'">
                                    
                                </div>
                                <div class="col-md-4 col-sm-6" style="text-align: center; color: green" ng-if="appointment.appointmentStatus == 'Rated'">
                                    
                                </div>
                            </div>
                        </div>
                        <!--end modal-body-->
                </div>
                <!--end modal-content-->
            </div>
        </div>
        <div id="rescheduleModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog width-400px" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div class="section-title">
                            <h3>Reschedule Appointment</h3>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12" style="padding: 10px">
                                <div class="form-group">
                                    <input type="text" class="form-control datepicker" id="contactDate" name="contactDate" placeholder="Select Date" value="">
                                </div>
                                <div class="form-group" id="timeSelectBox" style="display: none">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row" style="text-align: center; padding: 10px">
                            <button type="button" class="btn btn-success" ng-click="updateAppointment()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $('.datepicker').datetimepicker({
                format: 'DD-MM-YYYY',
                minDate: new Date()
            });
        </script>