<style>
    #noProperty {
        border:1px solid #d3d3d3;
        height: 100px;
        padding-top: 30px;
        text-align: center;
        font-family: inherit;
        font-size: 30px;
        color: #2A957C;
        font-weight: bold;
        border-radius: 10px;    
        box-shadow: 2px 2px 2px #d3d3d3;
    }
</style>
<section>
    <div class="container" ng-hide="noUsers">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <section class="page-title">
                    <h1>Users</h1>
                </section>
                <!--end section-title-->
                <section>
                    <div class="row">
                        <div class="col-md-4 col-sm-6" ng-repeat="user in AllUsers">
                            <div class="subject-list">
                                <div class="description">
                                        <figure class="ribbon" ng-if="user.userType == 'Admin'">Agent</figure>
                                        <figure class="ribbon" ng-if="user.userType == 'Renter'" style="background-color:orange">{{user.userType}}</figure>
                                        <figure class="ribbon" ng-if="user.userType == 'Owner'" style="background-color:green">{{user.userType}}</figure>
                                    <section class="name">
                                        <h3><b><a href="javascript:(0)" ng-click="goToUserDetails(user)">{{user.userName}}</a></b></h3>
                                        <h4 ng-if="user.userType != 'Renter' && user.propertyCount > 0">{{user.propertyCount}} Properties</h4>
                                        <h4 ng-if="user.userType != 'Renter' && user.propertyCount == 0">0 Properties</h4>
                                        <h4 ng-if="user.userType == 'Renter'" style="color: orange">Renter</h4>
                                    </section>
                                    <!--end description-->
                                    <section class="contacts">
                                        <figure><i class="fa fa-phone"></i>{{user.userPhone}}</figure>
                                        <figure><a href="#"><i class="fa fa-envelope"></i>{{user.userEmail}}</a></figure>
                                    </section>
                                    <section class="social"></section>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="row" ng-show="noUsers">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10" id="noUsers">
            No Users Found..!
        </div>
        <div class="col-md-1 col-sm-1"></div>
    </div>
</section>