.single-page-login-beta .single-page-block .single-page-block-inner .single-page-block-sidebar--content {
    padding: 10px !important;
    margin-top: 30px !important;
}

.appLabel {
    color: white !important;
    font-size: 30px;
}
.ImguploadLabel
{
    margin-top: -25px;
    font-size: 15px;
}
.loginTitle {
    color: white !important;
    font-size: 30px;
}

.logo-container {
    text-align: center !important;
}

.header-buttons {
    margin-top: 0px !important;
}

.verified {
    font-size: 8px;
    border-color: green;
    color: green;
    border: 1px solid;
    padding: 1px;
}

.notifications {
    color: #FFFFFF !important;
}
nav.left-menu .left-menu-list-root{
    margin: 0px 0px;
}
.companyImage {
    width: 40px;
    height: 40px;
    margin: -5px 10px 10px 10px;
    border-radius: 25px;
    border: 1px solid white;
}

.subMenu {
    background: #FFFFFF !important;
}

// .select2-container{
//     z-index: 100 !important;
// }

body nav.left-menu .ct-label {
    color: #919191;
}

.single-page-block-footer ul li a {
    color: #FFFFFF !important;
}

.alignMiddle {
    vertical-align: middle !important;
}

.imgProfileImage {
    height: 100px;
    width: 100px;
    border: 1px solid grey;
    border-radius: 50px;
    padding: 2px;
}
.top50 {
    margin-top: 50px;
}

.form-control-label b {
    font-weight: 400;
    color: #616161;
    font-size: 14px;
}

.alginCenter {
    text-align: center;
}

.profileImage{
    height: 37px !important;
    width: 37px !important;
    border: 1px solid white;
    border-radius: 25px;
}

.photoBorder {
    border: 1px solid;
    width: 25px;
    height: 25px;
    padding: 2px;
    border-radius: 12.5px;
}

.userPhoto {
    width: 22px;
    height: 22px;
    border-radius: 12.5px;
    margin-top: -5px;
    margin-left: -1px;
}

.labelDashboard {
    padding-left: 5px !important;
}

nav.left-menu .logo-container .logo {
    display: block;
    max-width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100%;
}

.theme-orange nav.left-menu .left-menu-list li .left-menu-link:after {
     border-left-color: grey !important;
}

.activeCompany {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeCompanyIcon {
    color: #FFFFFF !important;
}
.activeMapMenu {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeMapMenuIcon {
    color: #FFFFFF !important;
}
.activeisCustommapname {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeisCustommapnameIcon {
    color: #FFFFFF !important;
}
.activeAssignUserRights {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeAssignUserRightsIcon {
    color: #FFFFFF !important;
}
.activeArea {
     color: #FFFFFF !important;
     background: #2196F3 !important;
}

.activeAreaIcon {
    color: #FFFFFF !important;
}

.activeBranch {
     color: #FFFFFF !important;
     background: #2196F3 !important;
}

.activeBranchIcon {
    color: #FFFFFF !important;
}

.activeStaff {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeStaffIcon {
    color: #FFFFFF !important;
}

.activeGroup {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeGroupIcon {
    color: #FFFFFF !important;
}

.activeMember {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeMemberIcon {
    color: #FFFFFF !important;
}

.activeTodayCollectionsReports {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeTodayCollectionsReportsIcon {
    color: #FFFFFF !important;
}

.activeDayWiseCollectionsReports {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeDayWiseCollectionsReportsIcon {
    color: #FFFFFF !important;
}

.activeDayWiseGroupCollectionsReport {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeDayWiseGroupCollectionsReportIcon {
    color: #FFFFFF !important;
}

.activeMembers {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeMembersIcon {
    color: #FFFFFF !important;
}

.activeInsurance {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeInsuranceIcon {
    color: #FFFFFF !important;
}
.activeInActiveMember {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeInActiveMemberIcon {
    color: #FFFFFF !important;
}

.activeBranchAssessments {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeBranchAssessmentsIcon {
    color: #FFFFFF !important;
}

.activeOverdueReports {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeOverdueReportsIcon {
    color: #FFFFFF !important;
}

.activeFunderReports {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeFunderReportsIcon {
    color: #FFFFFF !important;
}

.activeRepaymentCollection {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeRepaymentCollectionIcon {
    color: #FFFFFF !important;
}

.activeExpectedDemand {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeExpectedDemandIcon {
    color: #FFFFFF !important;
}

.activeDemandCollection {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeDemandCollectionIcon {
    color: #FFFFFF !important;
}

.activeClosedLoanDetails {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeClosedLoanDetailsIcon  {
    color: #FFFFFF !important;
}

.activeProduct {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeProductIcon {
    color: #FFFFFF !important;
}

.activeFunder {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeFunderIcon {
    color: #FFFFFF !important;
}

.activeThrift {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeThriftIcon {
    color: #FFFFFF !important;
}

.activeApplicationAmount {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeApplicationAmountIcon {
    color: #FFFFFF !important;
}

.activeReceiptsPayments {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeReceiptsPaymentsIcon {
    color: #FFFFFF !important;
}

.activeIncomeAndExpenditure {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeIncomeAndExpenditureIcon {
    color: #FFFFFF !important;
}

.activeFundDetails {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeFundDetailsIcon {
    color: #FFFFFF !important;
}

.activeLoanDisbursement {
    color: #FFFFFF !important;
    background: #2095F3 !important;
}

.activeLoanDisbursementIcon {
    color: #FFFFFF !important;
}

.activeBonusLoanDisbursement {
    color: #FFFFFF !important;
    background: #2095F3 !important;
}

.activeBonusLoanDisbursementIcon {
    color: #FFFFFF !important;
}

.activeLoanDisbursementReport {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeLoanDisbursementReportIcon {
    color: #FFFFFF !important;
}

.activeLoanCard {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeLoanCardIcon {
    color: #FFFFFF !important;
}

.activeThriftReport {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeThriftReportIcon {
    color: #FFFFFF !important;
}

.activeGroupCollection {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeGroupCollectionIcon {
    color: #FFFFFF !important;
}
.activeTodayReport {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeTodayReportIcon {
    color: #FFFFFF !important;
}
.activedaywiseCollection {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activedaywiseCollectionIcon {
    color: #FFFFFF !important;
}
.activeMapthriftmember {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeMapthriftmemberIcon {
    color: #FFFFFF !important;
}
.activeThriftCollection {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeThriftCollectionIcon {
    color: #FFFFFF !important;
}

.activeMemberCollection {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeMemberCollectionIcon {
    color: #FFFFFF !important;
}

.activememberDetailsreport {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activememberDetailsreportIcon {
    color: #FFFFFF !important;
}

.activeChangeMeetingDate {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeChangeMeetingDateIcon {
    color: #FFFFFF !important;
}
.activeChangeGroupOfficer {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeChangeGroupOfficerIcon {
    color: #FFFFFF !important;
}
.activeOfficerinsentive {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeOfficerinsentiveIcon {
    color: #FFFFFF !important;
}
.activeGroupMemberCollection {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeGroupMemberCollectionIcon {
    color: #FFFFFF !important;
}
.activeTodayCollections {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeTodayCollectionsIcon {
    color: #FFFFFF !important;
}

.activeProductReport {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeProductReportIcon {
    color: #FFFFFF !important;
}

.activeActivityReport {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeActivityReportIcon {
    color: #FFFFFF !important;
}

.activeAreaReport {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeAreaReportIcon {
    color: #FFFFFF !important;
}

.activeBranchReport {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeBranchReportIcon {
    color: #FFFFFF !important;
}

.activeGroupOfficerReport {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeGroupOfficerReportIcon {
    color: #FFFFFF !important;
}

.activePreCloserGroupReport {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activePreCloserGroupReportIcon {
    color: #FFFFFF !important;
}

.activePreCloserMemberReport {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activePreCloserMemberReportIcon {
    color: #FFFFFF !important;
}

.activeReceipts {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeReceiptsIcon {
    color: #FFFFFF !important;
}

.activePayment {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activePaymentIcon {
    color: #FFFFFF !important;
}

.activePreCloseLoan{
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activePreCloseLoanIcon {
    color: #FFFFFF !important;
}

.activeContra {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeContraIcon {
    color: #FFFFFF !important;
}

.activeJournals {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeJournalsIcon {
    color: #FFFFFF !important;
}

.activeProfitLoss {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeProfitLossIcon {
    color: #FFFFFF !important;
}

.activeTrialBalance{
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeTrialBalanceIcon{
    color: #FFFFFF !important;
}

.activeBalanceSheet {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeBalanceSheetIcon {
    color: #FFFFFF !important;
}

.activeSchedulesToBalanceSheet {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeSchedulesToBalanceSheetIcon {
    color: #FFFFFF !important;
}

.activeEconomicActivity {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeEconomicActivityIcon {
    color: #FFFFFF !important;
}
.activePurposeOfLoan {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activePurposeOfLoanIcon {
    color: #FFFFFF !important;
}
.activeSendnotification {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeSendnotificationIcon {
    color: #FFFFFF !important;
}
.activeGroupAccount {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeGroupAccountIcon {
    color: #FFFFFF !important;
}

.activeLedgers {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeLedgersIcon {
    color: #FFFFFF !important;
}

.activeFinanceGroup {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeFinanceGroupIcon {
    color: #FFFFFF !important;
}

.activePurchaseEntry {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activePurchaseEntryIcon {
    color: #FFFFFF !important;
}

.activeBillComponentMaster {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeBillComponentMasterIcon {
    color: #FFFFFF !important;
}

.activeGroupAccount{
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeGroupAccountIcon {
    color: #FFFFFF !important;
}

.activeGstType{
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeGstTypeIcon {
    color: #FFFFFF !important;
}

.activeParty{
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activePartyIcon {
    color: #FFFFFF !important;
}

.activeInstrument{
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeInstrumentIcon {
    color: #FFFFFF !important;
}

.activeMiscellaneous{
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeMiscellaneousIcon {
    color: #FFFFFF !important;
}

.activeAccount{
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeAccountIcon {
    color: #FFFFFF !important;
}

.activeCashTransaction{
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeCashTransactionIcon{
    color: #FFFFFF !important;
}

.activeBankTransaction{
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeBankTransactionIcon{
    color: #FFFFFF !important;
}

.activeJournalEntry{
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeJournalEntryIcon{
    color: #FFFFFF !important;
}

.activePurchaseSalesEntries{
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activePurchaseSalesEntriesIcon{
    color: #FFFFFF !important;
}

.activeLedgerReport {
    color: #FFFFFF !important;
    background: #2196F3 !important;
}

.activeLedgerReportIcon {
    color: #FFFFFF !important;
}

.btn-primary {
    background-color: #2196F3 !important;
    border-color: #FFFFFF !important;
}
.theme-background-color{
      background-color: #2196F3 !important;
}
.dashboardMap {
    height: 250px;
    width: 100%;
}

.mandatoryField{
    color: red;
}

.btnReceiptContent {
    margin: 0px 10px 10px 15px;
}

.btnPaymentContent{
    margin: 0px 10px 10px 15px;
}

.errorInfo {
    color: red;
}

.dropDownFloatLabel {
    left: 0px !important;
}

.single-page-login-beta .single-page-block .single-page-block-inner .single-page-block-sidebar--shadow {
    background: transparent !important;
}

.single-page-block-sidebar{
    background-color:#2196F3 !important;
}

.single-page-login-beta .single-page-block .single-page-block-inner .single-page-block-sidebar--content--item {
    border-left: 2px solid #FFFFFF;
    color: #FFFFFF;
}

.single-page-login-beta .single-page-block .single-page-block-inner .single-page-block-sidebar--content--item {
    padding-left: 0px !important;
    margin-bottom: 0px !important;
}

.scroll-pane {
    background: #FFFFFF !important;
}

.left-menu-item {
    color: #FFFFFF !important;
}

.theme-orange nav.left-menu .logo-container .logo img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.dropdown.dropdown-avatar .dropdown-toggle:after {
    color: #FFFFFF !important;
}

.mfiLogo {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    cursor: pointer !important;
}


.linkForgotPassword {
    color: lightgrey;
}

.qmodel{
    top: 35px !important;
}

.printIcon{
    cursor: pointer;
}

.typeahead__field input {
    height: 36px !important;
    padding: inherit !important;
    border: 0px solid #ccc !important;
    border-bottom: 1px solid #514d6a !important;
    background: transparent !important;
}

.left-menu-item{
    color: black !important;
}

.borderBill {
    border: 1px solid grey;
    height: 50px;
    padding-top: 32px;
    margin-top: -32px;
    border-radius: 10px;
    padding-left: 32px;
}

.borderBillComponent {
    border: 1px solid grey;
    padding-top: 32px;
    margin-top: -32px;
    border-radius: 10px;
    padding-left: 32px;
}

.borderInvoiceCharges {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
}

.borderInvoiceAllowances{
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
    height: 232px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    border-bottom-style: inset !important;
}

/*****************  form input style   *************************/


/* -- import Bootstrap v3 --------------------------- */
/* -- import Bootstrap docs ------------------------- */
/* -- import Roboto Font ---------------------------- */
@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
/* -- Body style ------------------------------------ */

/* -- Input styles ---------------------------------- */
.form-group {
  position: relative;
  margin-top: 35px;
  margin-bottom: 20px;
}
.input-group {
  position: relative;
}
.form-control {
  display: block;
  height: 36px;
  width: 100%; 
  border: none;
  border-radius: 0 !important;

  font-size: 16px;
  font-weight: 300;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid #757575;
}
.input-group .form-control {
  position: relative;
  z-index: inherit;
  float: inherit;
  width: 100%;
  margin-bottom: 0;
}
.form-control:focus {
  border-color: #757575;
  outline: none;
  box-shadow: none;
}

/* -- label styles ---------------------------------- */
label {
  position: absolute;
  top: -18px;
  color: #999;
  font-size: 12px;
  font-weight: 300;
  
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.form-horizontal .control-label {
  position: relative;
  top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    font-size: 16px;
  }
}
  




.float-label {
  left: 15px;
  top: 7px;
  font-size: 16px;
  pointer-events: none;
}

/* active state */
.form-control:focus ~ .float-label, .form-control:valid ~ .float-label {
  top: -16px;
  font-size: 12px;
  font-weight: 400;
}


/* input colors ---- */
// default
.form-control:focus {
  ~ label {
    color: #03a9f4;
  }
  
  ~ .form-bar:before, ~ .form-bar:after {
    background: #03a9f4;
  }
}




.form-control:valid ~ .control-label {

}

/* help-block */
.form-group .help-block {
  position: absolute;
}

.help-block {
  color: #bdbdbd; // caption
  font-size: 12px;
  font-weight: 300;
}

/* input addon ---*/
.input-group-addon {
  border: none;
  background: transparent;
}

/* ------  inline ----*/
.input-group-addon, .form-inline .input-group {
  display: table-cell;
}

.input-group-addon, .input-group-btn {
  width: inherit;
}

.input-group {
  width: 100%;
}

@media (min-width: 768px) {
  .form-inline .form-group {
    margin-top: 16px;
  }
  
  .input-group-btn, .input-group .form-control, .input-group-addon, .form-inline .input-group {
    display: inline-block;
  }
  
  .input-group {
    width: auto;
  }
}

/* -- bar styles -------------------------------------- */
.form-bar {
  position: relative;
  display: block;
  width: 100%;
}
.form-bar:before, .form-bar:after 	{
  content: '';
  height: 1px;
  width: 0;
  bottom: 0;
  position: absolute;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}
.form-bar:before {
  left: 50%;
}
.form-bar:after {
  right: 50%;
}

/* active state */
.form-control:focus ~ .form-bar:before, .form-control:focus ~ .form-bar:after {
  width: 50%;
}

/* -- highlighter styles ------------------------------ */
.form-highlight {
  position: absolute;
  height: 60%;
  width: 60px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.4;
}

/* active state */
.form-control:focus ~ .form-highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* -- highlighter animation --------------------------- */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to { width:0; background:transparent; }
}


.form-group.checkbox {
  margin-top: 0px;
}

.checkbox input[type='checkbox'] {
    height: 10px;
    width: 10px;
    opacity: 1;
}

.checkbox label {
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  display: inline-block;
  position: relative;
  top: 10px;
}

.checkbox .chk-span {
  top: 0;
  border: 1px solid #5a5a5a;
  color: #1d1d1d;
  cursor: pointer;
  float: left;
  height: 14px;
  margin: 0 14px 14px 1px;
  outline-color: #eaeaea;
  padding: 0;
  position: relative;
  width: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.checkbox .chk-span.checked {
  top: -2px;
  border-left: 2px solid #03a9f4;
  border-bottom: 4px solid #03a9f4;
  border-top: 1px solid rgba(0,0,0,0);
  border-right: 1px solid rgba(0,0,0,0);
  -webkit-transform: rotate(-45deg) scaleY(0.5);
  -moz-transform: rotate(-45deg) scaleY(0.5);
  -ms-transform: rotate(-45deg) scaleY(0.5);
  -o-transform: rotate(-45deg) scaleY(0.5);
  transform: rotate(-45deg) scaleY(0.5);
}

// Checkbox colors
.checkbox .chk-span.checked {
  border-left-color: #03a9f4;
  border-bottom-color: #03a9f4;
}

// focus state
.checkbox input[type='checkbox']:focus ~ label {
  
  color: #03a9f4;
  
  .chk-span {
    border-color: #03a9f4;
    &.checked {
      border-left-color: #03a9f4;
      border-bottom-color: #03a9f4;
      border-top: 1px solid rgba(0, 0, 0, 0);
      border-right: 1px solid rgba(0, 0, 0, 0);
    }
  }
}



@media (min-width: 768px) {
  .form-inline .radio label, .form-inline .checkbox label {
    padding-left: 5px;
  }
}





.form-control-static {
  font-size: 16px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: transparent;
  border-bottom-style: dashed;
}




#focusedInput {
  border-color: #ccc;
  border-color: rgba(82,168,236,.8);
  outline: 0;
  box-shadow: none;
}

.progressbox1 {
    border: 1px solid #0099CC;
    padding: 1px;
    position: relative;
    width: 150px;
    border-radius: 3px;
    margin: 110px 10px;
    display: none;
    text-align: left;
  }
  .progressbar1 {
    height:20px;
    border-radius: 3px;
    background-color: #117dc2;
    width:1%;
  }

#statustxt1 {
    top:3px;
    left:50%;
    position:absolute;
    display:inline-block;
    color: #000000;
}

.menuTitle{
    font-weight: bold !important;
    vertical-align: middle !important;
}

.subTitle{
    padding-left: 50px !important;
    font-size: 14px !important;
    vertical-align: middle !important;
}

.theme-orange nav.left-menu .left-menu-list li .left-menu-userControl:after {
    border-left-color: transparent !important;
}

nav.left-menu .left-menu-list li .left-menu-userControl {
    display: block;
    padding: 10px 25px;
    font-weight: 600;
    outline: none;
    color: #24222f;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.theme-orange .left-menu-list-submenu > .left-menu-userControl {
    margin-left: -15px !important;
}

nav.left-menu .left-menu-list li .left-menu-userControl .left-menu-link-icon {
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    display: inline-block;
    width: 22px;
    font-size: 1rem;
    color: #bbb8cb;
}

.theme-orange nav.left-menu .left-menu-list li .left-menu-userControl .left-menu-link-icon {
    color: #24222f;
}


.btn-toolbar{
    display: none !important;
}

.sticky-table-header{
    z-index: -99 !important;
}

#enterPageNO{
    width: 50px;
    padding-bottom: 6px;
    height: 40px;
    text-align: center;
}

#floating-button{
    position: fixed !important;
    bottom: 60px !important;
    right: 25px !important;
    cursor: pointer !important;
    z-index: 999 !important;
}

.memberSave{
    border-radius: 50px !important;
    height: 50px !important;
    width: 100px !important;
    font-weight: bold !important;
    font-size: 20px !important;
}
.borderless td, .borderless th {
    border: none;
}